* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a, span, label {
  display: inline-block;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 1.4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 120px;
}

.header {
  background-image: url("../images/header-images/Rectangle 9.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
}
.header h1 {
  color: white;
  font-size: 74px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  line-height: 1.3;
}
.header p {
  text-align: center;
  color: #DADADA;
  font-size: 28px;
  margin-top: 15px;
}
.header__btn__box {
  text-align: center;
  margin-top: 110px;
}
.header__btn {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
}

.nav {
  padding: 20px 250px;
}
.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav__list li {
  margin-right: 30px;
}
.nav__list li:last-child {
  margin-right: 0;
}
.nav__list a {
  color: #DADADA;
  text-transform: capitalize;
  font-size: 17px;
}
.nav__list a img {
  width: 246px;
  height: 78px;
  margin: auto;
}
.nav__list__social {
  display: flex;
}
.nav__list__title {
  font-size: 74px;
  color: white;
}
.nav__item2 {
  margin-left: auto;
}
.nav__item2 a i {
  font-size: 25px;
}

.section {
  margin-top: 70px;
}
.section__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}
.section__title__bt-text {
  color: #374754;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 120px;
  margin-top: 55px;
}
.section__item__title {
  font-weight: bold;
  font-size: 20px;
  color: #252B42;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.section__item__text {
  color: #374754;
  text-align: center;
  padding: 0 40px;
}
.section__item {
  width: 30%;
  text-align: center;
}
.section__icon {
  margin-bottom: 8px;
}
.section__img__box {
  position: relative;
}
.section__img__box__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section__2 {
  margin: 50px 0;
}

.section2__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section2__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
}
.section2__link {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 60px;
}
.section2__text {
  color: #374754;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
}

.section__3 {
  padding: 130px 0;
}

.section3__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section3__content__title-top-text {
  font-weight: bold;
  font-size: 20px;
  color: #252B42;
  margin-bottom: 15px;
}
.section3__content__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: auto;
}
.section3__content__subscribe-text {
  font-weight: bold;
  font-size: 20px;
  color: #252B42;
}
.section3__content__text {
  color: #374754;
  margin-bottom: 20px;
}
.section3__content__form {
  margin-top: 50px;
}
.section3__content__form input {
  border-radius: 39px;
  padding: 14px 39px;
  outline: none;
  border: 2px solid #E8E8E8;
  background-color: #F4F4F4;
}
.section3__content__form input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 30px #F4F4F4 !important;
}
.section3__content__form button {
  border-radius: 39px;
  padding: 14px 39px;
  border: none;
  background-color: #2091F9;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.section4__content {
  text-align: center;
}
.section4__content__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section4__content__title-bt-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  color: #374754;
  flex-direction: column;
}
.section4__content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}
.section4__content__item {
  border: 1.5px solid #DDDDDD;
  padding: 15px;
  width: 25%;
}
.section4__content__link {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
}

.section__5 {
  margin-top: 130px;
}

.section5__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5__content__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 65px;
}
.section5__content__text {
  margin-top: 50px;
  font-size: 28px;
  width: 70%;
  color: #374754;
  text-align: center;
  margin-bottom: 50px;
}
.section5__content .section5__designer__info {
  display: flex;
}
.section5__content .section5__designer__info__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
  color: #374754;
}
.section5__content__btn {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
  margin: 50px 0;
}

.section__6 {
  background-color: #252B42;
}
.section__6__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 120px;
}
.section__6__content__title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section__6__content__text {
  color: white;
  font-size: 24px;
  margin-bottom: 35px;
  width: 32%;
  text-align: center;
}
.section__6__content__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
.section__6__content__box-title {
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.section__6__content__box {
  border-radius: 10px;
  background-color: white;
  border: 1px solid #DEDEDE;
  width: 30%;
  padding: 40px 0 30px 0;
  text-align: center;
  transition: 0.1s all linear;
}
.section__6__content__box:hover {
  background-color: #2091F9;
  transform: scale(1.1);
}
.section__6__content__box:hover h2, .section__6__content__box:hover p, .section__6__content__box:hover span {
  color: white;
}
.section__6__content__box:hover a {
  background-color: white;
  color: #2091F9;
}
.section__6__content__box__text {
  font-size: 17px;
  margin-bottom: 25px;
}
.section__6__content__title-bt-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
}
.section__6__content__price-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.section__6__content__charge {
  font-size: 100px;
  font-weight: bold;
  color: #252B42;
  margin: 0;
}
.section__6__content__usd {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
}
.section__6__content__usd-symbol {
  font-size: 30px;
  color: #252B42;
}
.section__6__content__usd-per-month {
  font-size: 20px;
  text-transform: capitalize;
  color: #374754;
}
.section__6__content__link {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
  padding: 14px 58px;
}

.section__7 {
  padding: 120px 0 70px 0;
}
.section__7__content__title {
  text-align: center;
  font-size: 48px;
  color: #252B42;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section__7__content__title__bottom {
  font-size: 20px;
  color: #374754;
  width: 25%;
  margin: auto;
  margin-bottom: 45px;
  text-align: center;
}
.section__7__content__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__7__content__box__left {
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding: 30px;
  width: 35%;
}
.section__7__content__box__left__input {
  width: 100%;
  padding: 18px 15px;
  margin-bottom: 40px;
  border-radius: 39px;
  border: 1.4px solid #DDDDDD;
  background-color: #F5F5F5;
  outline: none;
}
.section__7__content__box__left__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset !important;
}
.section__7__content__box__left__input::-moz-placeholder {
  text-transform: capitalize;
}
.section__7__content__box__left__input::placeholder {
  text-transform: capitalize;
}
.section__7__content__box__left__textarea {
  width: 100%;
  resize: none;
  height: 193px;
  padding: 10px 15px;
  text-transform: capitalize;
  border: 1.4px solid #DDDDDD;
  background-color: #F5F5F5;
  outline: none;
}
.section__7__content__box__left__textarea:focus {
  border: 1.4px solid #F5F5F5;
}
.section__7__content__box__left__send-btn {
  border-radius: 35px;
  padding: 10px 36px;
  background-color: #2091F9;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.section__7__content__box__left__title {
  font-weight: bold;
  font-size: 20px;
  color: #252B42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}
.section__7__content__box__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__7__content__box__right__address-and-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.section__7__content__box__right__address-and-contact div {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.section__7__content__box__right__address-and-contact div span {
  color: #374754;
  font-size: 16px;
}
.section__7__content__box__right__address-and-contact div span i {
  margin-bottom: 15px;
  font-size: 28px;
  color: #2091F9;
}
.section__7__content__box__right__address-and-contact div a {
  color: #374754;
  font-size: 16px;
}
.section__7__content__box__right__map__of__address {
  text-align: center;
  padding-top: 25px;
}
.section__7__content__box__right__map__of__address iframe {
  width: 560px;
  height: 350px;
}
.section__7__content__box__right__social__icon {
  color: #2091F9;
  font-size: 32px;
  margin-right: 20px;
}
.section__7__content__box__right__social__icon:last-child {
  margin-right: 0;
}

.footer {
  background-color: #252B42;
  padding: 100px 220px;
  display: flex;
  justify-content: center;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__category__of__link {
  font-weight: bold;
  font-size: 20px;
  color: #252B42;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.footer__item2 {
  margin-bottom: 10px;
  color: white;
}
.footer__item2:last-child {
  margin-bottom: 0;
}
.footer__item2__icon {
  font-size: 28px;
  color: white;
  margin-right: 10px;
}
.footer__item2 a {
  color: #C9CAD0;
}
.footer__social__icon {
  font-size: 30px;
  color: white;
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */