.section__2 {
    margin: 50px 0;
}
.section2 { 
    &__content {
        @include flex__box;
    }
    &__title {
        @include section__title;
    }
    &__link {
        @include buttons__style;
        margin-top: 60px;
    }
    &__text {
        color: #374754;
        font-size: 20px;
        @include flex__box;
        flex-direction: column;
        margin-top: 25px;
    }

}

